/* Table of Contents
1.0 DOM Resets
2.0 Screens
3.0 Astronaut Background
4.0 Sections
5.0 Modals


*/

/*1.0 DOM Resets*/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* 3.0 Astronaut Background*/

#wrapper{
  min-width: 1000px;
}
section{
  min-height: 100vh;


}

#first{
  background: url(/images/full_width.svg) no-repeat center;
  background-size: cover;
  position: absolute;
}
#first .astro{
  background-attachment: fixed;
  background-position: center;
  background-image:url(/images/full_width.svg);
  background-size: cover;
  background-repeat:no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  /* z-index: -1; */

};


/* 4.0 Sections*/

.welcome{
background-color:#575757;
display: inline-block;
  z-index: 1;
}


/* 5.0 Modal*/
.modal{

}
